body {
  font-family: sans-serif;
}
details {
  width: 600px;
  background-color: rgb(242, 233, 252);
  line-height: 30px;
  margin-left: 10px;
  position: relative;
  box-shadow: 2px 2px 5px black;
}
details[open] {
  background-color: rgb(242, 233, 252);
}

details::before {
  content: "";
  background-color: orange;
  position: absolute;
  width: 4px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  
}
summary {
  
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

summary::-webkit-details-marker {
  display: none;
}

p {
  margin-left:20px;
  padding: 10px;
}
details summary .question {
  margin-bottom: 0%;
  font-weight: bold;
}
.answer {
  margin-top: 0%;
}
